.link,
.promoLink {
    background-color: var(--colour-bg);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.12);
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 400ms;
}

.promoLink {
    color: var(--colour-bg);
    font-weight: 100;
    background-color: var(--colour-text-alt);
    box-shadow: 0 5px 60px var(--colour-blossom);
}

.promoLink:hover,
.promoLink:active,
.promoLink:focus {
    cursor: pointer;
    background-color: var(--colour-blossom);
    color: var(--colour-bg) !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12);
}

.inline_image {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}

.link > i {
    color: var(--colour-blossom);
    margin-right: .5rem;
    font-size: 1.25rem;
}

.link:hover,
.link:active,
.link:focus {
    cursor: pointer;
    background-color: var(--colour-blossom);
    color: var(--colour-bg) !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12);
}

.link:hover,
.link:active,
.link:focus > i {
    color: var(--colour-bg) !important;
}