.link {
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.12);
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 400ms;
}

.link > span {
    color: var(--colour-blossom);
    margin-right: .5rem;
}
.link:hover {
    cursor: pointer;
    background-color: var(--colour-blossom);
    color: var(--colour-bg) !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12);
}
.link:hover > span {
    color: var(--colour-bg) !important;
}

.link > span {
    font-size: 1.25rem;
}